---
import MainLayout from "../layouts/MainLayout.astro";
import MainHeader from "../components/MainHeader.astro";
import Button from "../components/Button.astro";
import ListElement from "../components/ListElement.astro"
import { Image } from 'astro:assets';
import myImageCause from "../assets/images/turkana-county-kenya.jpg";
import myImageContent from "../assets/images/content.jpg";
import myImageContent2 from "../assets/images/content2.jpg";
import myImageContent3 from "../assets/images/content3.jpg";
import myImageContent4 from "../assets/images/content4.jpg";
import myImageContent5 from "../assets/images/content5.jpg";
import myImageContent6 from "../assets/images/content6.jpg";
---
<MainLayout>
    <MainHeader></MainHeader>
    <section class="lg:grid lg:grid-cols-2 pb-6 sm:pb-[33px] md:pb-[42px] lg:pb-[60px]">
        <div class="mb-8 lg:mb-[60px]">
            <Image src={myImageCause} alt="" class="w-full h-[287px] lg:h-[914px] object-cover"></Image>
            <h1 class="p-4 sm:p-[32px] md:p-[48px] lg:text-center">Turkana, Kenya</h1>
        </div>
        <div class="grid justify-items-center mx-4 sm:mx-[32px] md:mx-[48px] lg:mx-[80px]">
            <div class="hidden lg:block place-self-start mb-10">
                <Button variant="action" id="back">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                        <path fill-rule="evenodd" d="M9.78 4.22a.75.75 0 0 1 0 1.06L7.06 8l2.72 2.72a.75.75 0 1 1-1.06 1.06L5.47 8.53a.75.75 0 0 1 0-1.06l3.25-3.25a.75.75 0 0 1 1.06 0Z" clip-rule="evenodd" />
                    </svg>
                    <p><a href="/kategorier">Back</a></p>
                </Button>
            </div>
            <div class="grid justify-self-start mb-8 lg:mb-[60px]">
                <h2 class="mb-4 lg:mb-8">Latest updates</h2>
                <h3 class="mb-3 lg:">2024</h3>
                <div class="grid gap-2 lg:gap-3 mb-3">
                    <ListElement>
                        <div class="px-3 py-1 lg:px-4 lg:py-2">
                            <div class="flex justify-between lg:mb-1">
                                <p class="font-semibold">Health Improvements</p>
                                <p class="text-xs lg:text-sm text-black-400">2024-10-05</p>
                            </div>
                            <p>We now have access to clean water and healthcare.</p>
                        </div>
                    </ListElement>
                    <ListElement>
                        <div class="px-3 py-1 lg:px-4 lg:py-2">
                            <div class="flex justify-between lg:mb-1">
                                <p class="font-semibold">Access to Clean Water</p>
                                <p class="text-xs lg:text-sm text-black-400">2024-02-05</p>
                            </div>
                            <p>The installation of a water purification system will bring clean water to our people.</p>
                        </div>
                    </ListElement>
                </div>
                <div class="flex self-end justify-end">
                    <Button variant="action" id="show-more"><p>Show more</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                    </Button>
                </div>
            </div>
            <div>
                <h2 class="mb-4 lg:mb-8">Gallery</h2>
                <div class="grid grid-cols-3 gap-2 mb-3">
                    <Image src={myImageContent} alt="" class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></Image>
                    <Image src={myImageContent2} alt="" class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></Image>
                    <Image src={myImageContent3} alt="" class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></Image>
                    <Image src={myImageContent4} alt="" class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></Image>
                    <Image src={myImageContent5} alt="" class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></Image>
                    <Image src={myImageContent6} alt="" class="rounded-lg w-full h-[100px] lg:w-[200px] lg:h-[200px] object-cover lg:mb-2"></Image>
                </div>
                <div class="flex self-end justify-end mb-8 lg:mb-[60px]">
                    <Button variant="action" id="show-more2"><p>Show more</p>
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                            <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                        </svg>
                    </Button>
                </div>
                <div class="grid place-items-center">
                    <Button variant="secondary" id="manage-donation">
                        <p>Manage donation</p>
                    </Button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="flex justify-center">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2040033.0999848088!2d34.03187589845442!3d2.975413982011268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x17835ec9930e52c1%3A0x61edf66a08eab395!2sTurkana%20County%2C%20Kenya!5e0!3m2!1sda!2sdk!4v1734000210978!5m2!1sda!2sdk" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" class="w-full h-[200px] sm:h-[265.5px] md:h-[331px] lg:h-[462px]"></iframe>
        </div>
    </section>
</MainLayout>