---
import MainLayout from "../layouts/MainLayout.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import myImage from "../assets/images/hero-unit.jpg";
import myImage2 from "../assets/images/hjerte.svg";
import myImage3 from "../assets/images/grafik/profil.svg";
import myImage4 from "../assets/images/grafik/blue_hands.svg";
import myImage5 from "../assets/images/grafik/letter.svg";
---
<MainLayout title="Forside">
    <section class="relative">
        <Image src={myImage} alt="A woman farming in Turkana County, Kenya." class="h-[28rem] md:h-[36rem] w-full object-cover"></Image>
        <div class="absolute bottom-7 left-7 md:bottom-12 md:left-12 lg:bottom-20 lg:left-20">
            <Button variant="cta">
                <p>Donate</p>
                <Image src={myImage2} class="w-[13.33px] h-[12.23px] md:w-[16.67px] md:h-[15.29px] lg:w-[20px] lg:h-[18.35px]" alt=""></Image>
            </Button>
        </div>
    </section>
    <section class="bg-blue-200 px-4 pt-8 pb-10 lg:px-20 lg:pt-10 lg:pb-12">
        <article class="grid justify-items-center">
            <h2 class="text-center mb-6 lg:mb-10">How does Feed A Help work?</h2>
            <div class="grid grid-cols-3 gap-5 text-sm lg:text-base text-center">
                <div class="place-items-center">
                    <Image src={myImage3} alt="" class="h-14 md:h-20 lg:h-24 mb-2 md:mb-4"></Image>
                    <p class="w-[114px] lg:w-[178px]">Create a profile as a donor or receiver</p>
                </div>
                <div class="place-items-center">
                    <Image src={myImage4} alt="" class="h-14 md:h-20 lg:h-24 mb-2 md:mb-4"></Image>
                    <p class="w-[85px] lg:w-[168px]">Set up your donation or cause</p>
                </div>
                <div class="place-items-center">
                    <Image src={myImage5} alt="" class="h-14 md:h-20 lg:h-24 mb-2 md:mb-4"></Image>
                    <p class="w-[80px] lg:w-[150px]">And share the impact together</p>
                </div>
            </div>
        </article>
    </section>
    <section x-data="{ allecauses: [] }" x-init="allecauses = await (await fetch('causes.json')).json(); allecauses.reverse();" class="pl-4 py-6 lg:pb-[60px]">
        <div class="grid justify-items-center text-center">
            <h2 class="mb-6 lg:mb-10">Causes</h2>
            <p class="w-1/2 lg:w-1/4 justify-self-center mb-6 lg:mb-20">Explore our variety of categories and validated causes.</p>
            <div class="flex justify-self-end mb-1 lg:mb-5">
                <Button variant="tertiary" class="flex self-end">
                    <p><a href="/kategorier">See all</a></p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                        <path fill-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </Button>
            </div>
        </div>
        <section class="flex flex-row gap-2 lg:gap-4 py-[10px] overflow-x-auto cursor-grab">
            <template x-for="causes in allecauses" :key="causes.id">
                <article>
                    <div class="bg-yellow-200 hover:bg-yellow-100 active:bg-yellow-300 rounded-lg flex-none w-[160px] lg:w-[340px]">
                        <img :src="causes.causebillede" :alt="causes.causebilledealt" class="object-cover h-20 lg:h-40 w-full rounded-t-lg">
                        <div class="px-3 py-2 lg:py-3">
                            <h4 x-text="causes.causeoverskrift" class="text-red-700 mb-1 lg:mb-3"></h4>
                            <p x-text="causes.causebeskrivelse" class="text-xs md:text-sm lg:text-base mb-2 lg:mb-6"></p>
                        </div>
                    </div>
                </article>
            </template>
        </section>
    </section>
</MainLayout>