---
import MainLayout from "../layouts/MainLayout.astro";
import IndexHeader from "../components/IndexHeader.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import myImage from "/public/images/hero-unit.jpg";
import myImage2 from "/public/grafik/hjerte.svg";
import myImage3 from "/public/grafik/profile.svg";
import myImage4 from "/public/grafik/blue_hands.svg";
import myImage5 from "/public/grafik/letter.svg";
---
<MainLayout title="Forside">
    <section class="relative">
        <IndexHeader></IndexHeader>
        <Image src={myImage} alt="A woman in a field in Turkana County, Kenya." class="h-[448px] md:h-[480px] w-full object-cover" />
        <div class="absolute bottom-7 left-7 md:bottom-12 md:left-12 lg:bottom-20 lg:left-20">
            <Button variant="cta" id="join">
                <p><a href="/opretProfil">Join our cause</a></p>
                <Image src={myImage2} alt="Small heart icon." class="w-[13.33px] h-[12.23px] md:w-[16.67px] md:h-[15.29px] lg:w-[20px] lg:h-[18.35px]" />
            </Button>
        </div>
    </section>
    <section class="bg-blue-200 px-4 pt-8 pb-10 md:px-[48px] md:pt-[36px] md:pb-[44px] lg:px-20 lg:pt-10 lg:pb-12">
        <article class="grid justify-items-center infografikinview">
            <h2 class="text-center mb-6 lg:mb-10">How does Feed A Help work?</h2>
            <div class="flex justify-between items-end self-stretch  lg:text-base text-center">
                <div class="flex flex-col justify-end items-center">
                    <Image src={myImage3} alt="Illustration of a profile icon." class="h-14 md:h-20 lg:h-24 mb-2 md:mb-4" />
                    <p class="w-[114px] lg:w-[178px]">Create a profile as a donor or receiver</p>
                </div>
                <div class="flex flex-col justify-end items-center">
                    <Image src={myImage4} alt="Illustration of one hand giving a heart to another hand." class="h-14 md:h-20 lg:h-24 mb-2 md:mb-4" />
                    <p class="w-[85px] lg:w-[168px]">Set up your donation or cause</p>
                </div>
                <div class="flex flex-col justify-end items-center">
                    <Image src={myImage5} alt="Illustration of a flying letter with a heart." class="h-14 md:h-20 lg:h-24 mb-2 md:mb-4" />
                    <p class="w-[80px] lg:w-[150px]">And share the impact together</p>
                </div>
            </div>
        </article>
    </section>
    <section x-data="{ allecauses: [] }" x-init="allecauses = await (await fetch('causes.json')).json(); allecauses.reverse();" class="pl-4 pt-3 pb-6 md:pt-[18px] md:pb-[42px] lg:pt-6 lg:pb-[60px] relative">
        <div class="absolute inset-0 bg-[url('/grafik/pattern_yellow.svg')] bg-cover bg-center bg-no-repeat opacity-75 z-0"></div>
        <div class="relative z-10 grid justify-items-center text-center">
            <h2 class="mb-4 md:text-[64px]">Our causes</h2>
            <p class="w-1/2 lg:w-1/4 justify-self-center mb-6 lg:mb-10">Explore our variety of categories and validated causes.</p>
            <div class="flex justify-self-end pr-4 md:pr-20 mb-1 lg:mb-5">
                <Button variant="action" class="flex self-end" id="see-all">
                    <p><a href="/causes">See all</a></p>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" class="w-5 lg:w-6">
                        <path fill-rule="evenodd" d="M6.22 4.22a.75.75 0 0 1 1.06 0l3.25 3.25a.75.75 0 0 1 0 1.06l-3.25 3.25a.75.75 0 0 1-1.06-1.06L8.94 8 6.22 5.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
                    </svg>
                </Button>
            </div>
        </div>
        <section class="relative flex flex-row gap-2 lg:gap-4 pl-4 py-[10px] md:pl-20 overflow-x-auto cursor-grab">
            <template x-for="causes in allecauses" :key="causes.id">
                <article>
                    <div class="bg-yellow-200 hover:bg-yellow-100 active:bg-yellow-300 rounded-lg flex-none w-[160px] lg:w-[340px]">
                        <img :src="causes.causebillede" :alt="causes.causebilledealt" class="object-cover h-20 lg:h-40 w-full rounded-t-lg" loading="lazy"/>
                        <div class="px-3 py-2 lg:py-3">
                            <h4 x-text="causes.causeoverskrift" class="text-red-700 mb-1 lg:mb-3"></h4>
                            <p x-text="causes.causebeskrivelse" class="text-xs md:text-sm lg:text-base mb-2 lg:mb-6"></p>
                        </div>
                    </div>
                </article>
            </template>
        </section>
    </section>
</MainLayout>
<script>
    import { animate, stagger, inView, scroll, timeline } from "motion";

inView( ".infografikinview" , ({ target }) =>{
  animate( target.querySelectorAll("div") , { x: [-2000, 0 ] },
  { duration: 2, opacity: [0, 1], delay: stagger(1, { start: 0.25 }) 
  })
})
</script>