---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Button from "../components/Button.astro";
import { Image } from 'astro:assets';
import myImage from "../assets/images/team.png";
import myImage3 from "../assets/images/Grafik/yellow_hands.svg";
import myImage4 from "../assets/images/Grafik/mobile.svg";
import myImage5 from "../assets/images/Grafik/closed_hand.svg";
import myImage6 from "../assets/images/Grafik/earth.svg";

---


<MainLayout>
    <div class="bg-no-repeat bg-center bg-cover" style="background-image: url(src/assets/images/Grafik/Pattern_yellow.svg);"> 
 <section class="flex flex-col items-start gap-5 md:gap-10 mt-3 md:mt-5 mb-6 md:mb-14 mx-4 md:mx-20">
    <button>back</button>
    <div class="flex flex-col items-center self-stretch gap-6 md:gap-14 ">
    <h1>What is Feed A Help?</h1>
    <div class="flex flex-col items-start gap-2 md:gap-3 self-stretch md:w-[658px]">
    <p>Feed A Help is a platform that makes giving simple, direct, and meaningful. It connects generous donors directly with people in need, removing the middleman so that every donation goes straight to where it’s needed most.</p>
    <p>Donors can see the impact of their generosity firsthand, as recipients share photos, videos, and updates that show how the support is transforming their lives.</p>
    <p>With Feed A Help, you can trust that your kindness reaches the right hands, creating real change in the world—one person at a time.</p>
</div>
</div>
</section> 
<Image src={myImage} alt="picture of the team who started Feed A Help" class=""></Image>

<section class="flex flex-col items-center gap-6 md:gap-10 mt-3 md:mt-5 mb-6 md:mb-14 mx-4 md:mx-20">
    <h2>Our values</h2>

    <!-- Direct impact sektion -->
    <div class="flex flex-col items-start gap-12 md:gap-36 self-stretch">
    <div class="flex justify-center items-center self-stretch gap-[6px] md:gap-[120px]">
        <Image src={myImage3} alt="one hand giving a donation of love to another" class="w-[102px] md:w-[273.06px] h-[139.178px] md:h-[372.592px]"></Image>
<div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-[234px] md:w-[362px]">
<h3>Direct impact</h3>
<div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
<p>We believe in making a difference, without the detours.</p>
<p>By connecting donors directly with those in need, we ensure that every contribution creates a direct and immediate impact. No middlemen—just meaningful change.</p>
</div>
</div>
    </div>
 
    <!-- Transparency sektion -->
    <div class="flex flex-col items-start gap-12 md:gap-36 self-stretch">
        <div class="flex justify-center items-center self-stretch gap-[6px] md:gap-[120px]">
    <div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-[234px] md:w-[362px]">
    <h3>Transparency</h3>
    <div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
        <p>Trust is the foundation of everything we do. That’s why we prioritize transparency, giving donors a clear view of how their support is making a difference.</p>
        <p>Through photos and updates from recipients, you can witness the positive change your generosity creates.</p>
    </div>
    </div>
    <Image src={myImage4} alt="phone with a notification on" class="w-[70.07px] md:w-[149.481px] h-[120.004px] md:h-[256.008px] "></Image>
        </div>
    
    <!-- empoverment sektion -->
    <div class="flex flex-col items-start gap-12 md:gap-36 self-stretch">
        <div class="flex justify-center items-center self-stretch gap-[15px] md:gap-[120px]">
            <Image src={myImage5} alt="a fist" class="w-[79.778px] md:w-[170.193px] h-[120px] md:h-[256px]"></Image>
    <div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-[234px] md:w-[362px]">
    <h3>Empowerment</h3>
    <div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
    <p>We empower individuals by providing them with the tools and resources to transform their lives..</p>
    <p>Your support empowers people to take meaningful steps forward, because we believe every act of giving drives lasting change.</p>
    </div>
    </div>
        </div>

 <!-- Community connection sektion -->
 <div class="flex flex-col items-start gap-12 md:gap-36 self-stretch">
    <div class="flex justify-center items-center self-stretch gap-[8px] md:gap-[120px]">
<div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-[234px] md:w-[362px]">
<h3>Community connection</h3>
<div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
    <p>At Feed A Help, we are creating a global movement of kindness.</p>
    <p>We believe compassion knows no boundaries, and by working together, we can create a world where help is always within reach.</p>
</div>
</div>
<Image src={myImage6} alt="earth with two points connected" class="w-[100px] md:w-[220px] h-[100px] md:h-[220.002px] "></Image>
    </div>

</div>
</section>
    </div>
</MainLayout>
