---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from 'astro:assets';
import myImage from "/public/images/team.png";
import myImage3 from "/public/grafik/yellow_hands.svg";
import myImage4 from "/public/grafik/mobile.svg";
import myImage5 from "/public/grafik/closed_hand.svg";
import myImage6 from "/public/grafik/earth.svg";
import MainHeader from "../components/MainHeader.astro";
---
<!-- Importerer genanvendelige komponenter ovenfor med Astro -->

<MainLayout title="iformation">
    <div class="bg-no-repeat bg-center bg-cover" style="background-image: url('/grafik/pattern_yellow.svg');">

<MainHeader></MainHeader>
 <section class="flex flex-col items-center self-stretch gap-6 md:gap-14 mt-3 md:pt-0 mb-6 md:mb-14 mx-4 md:mx-20">
    <h1>What is Feed A Help?</h1>
    <div class="flex flex-col items-start gap-2 md:gap-3 md:w-[658px]">
    <p>Feed A Help is a platform that makes giving simple, direct, and meaningful. It connects generous donors directly with people in need, removing the middleman so that every donation goes straight to where it’s needed most.</p>
    <p>Donors can see the impact of their generosity firsthand, as recipients share photos, videos, and updates that show how the support is transforming their lives.</p>
    <p>With Feed A Help, you can trust that your kindness reaches the right hands, creating real change in the world—one person at a time.</p>
</div>
</section> 

<Image src={myImage} alt="picture of the team who started Feed A Help" class="w-screen object-cover h-auto" />

<section class="flex flex-col items-center gap-6 md:gap-14 mx-4 mt-3 pb-6 md:mx-20 md:mt-5 md:pb-[60px]">
    <h2 class="text-[28px] md:text-[64px]">Our values</h2>

    <!-- Direct impact section -->
    <div class="flex flex-col items-start gap-12 md:gap-36 self-stretch">
    <div class="flex flex-row justify-center items-center self-stretch gap-[8px] md:gap-[120px]">
        <Image src={myImage3} alt="one hand giving a donation of love to another" class="w-[102px] md:w-[273px] h-[139.178px] md:h-[256px] max-w-full"></Image>
<div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-full md:w-[362px]">
<h3>Direct impact</h3>
<div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
<p>We believe in making a difference, without the detours.</p>
<p>By connecting donors directly with those in need, we ensure that every contribution creates a direct and immediate impact. No middlemen-just meaningful change.</p>
</div>
</div>
    </div>
 
    <!-- Transparency section -->
        <div class="flex flex-row justify-center items-center self-stretch gap-[40px] md:gap-[120px]">
    <div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-full md:w-[362px]">
    <h3>Transparency</h3>
    <div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
        <p>Trust is the foundation of everything we do. That's why we prioritize transparency, giving donors a clear view of how their support is making a difference.</p>
        <p>Through photos and updates from recipients, you can witness the positive change your generosity creates.</p>
    </div>
    </div>
    <Image src={myImage4} alt="phone with a notification on" class="w-[70.07px] md:w-[149.481px] h-[120.004px] md:h-[256.008px] max-w-full" />
        </div>
    
    <!-- Empowerment section -->
        <div class="flex flex-row justify-center items-center self-stretch gap-[29px] md:gap-[120px]">
            <Image src={myImage5} alt="A clenched fist for empowerment" class="w-[79.778px] md:w-[170.193px] h-[120px] md:h-[256px] max-w-full" />
    <div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-full md:w-[362px]">
    <h3>Empowerment</h3>
    <div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
    <p>We empower individuals by providing them with the tools and resources to transform their lives.</p>
    <p>Your support empowers people to take meaningful steps forward, because we believe every act of giving drives lasting change.</p>
    </div>
    </div>
        </div>

 <!-- Community connection section -->
    <div class="flex flex-row justify-center items-center self-stretch gap-[13px] md:gap-[120px]">
<div class="flex flex-col justify-center items-start gap-2 md:gap-4 w-full md:w-[362px]">
<h3>Community connection</h3>
<div class="flex flex-col items-start gap-2 md:gap-3 self-stretch">
    <p>At Feed A Help, we are creating a global movement of kindness.</p>
    <p>We believe compassion knows no boundaries, and by working together, we can create a world where help is always within reach.</p>
</div>
</div>
<Image src={myImage6} alt="earth with two points connected" class="w-[100px] md:w-[220px] h-[100px] md:h-[220.002px] max-w-full" />
    </div>

</div>
</section>
    </div>
</MainLayout>

