---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Button from "../components/Button.astro";
import { Image } from "astro:assets";
import myImageCause from "../assets/images/grafik/climate.svg";
import myImageCause2 from "../assets/images/grafik/development.svg";
import myImageCause3 from "../assets/images/grafik/education.svg";
import myImageCause4 from "../assets/images/grafik/emergencies.svg";
import myImageCause5 from "../assets/images/grafik/refugees.svg";
import myImage6 from "../assets/images/gorkha-nepal.jpg";
import myImage8 from "../assets/images/turkana-county-kenya.jpg";
import myImage10 from "../assets/images/aleppo-syria.jpg";
---
<Header></Header>
<MainLayout>
<section>
    <div class="mb-10 lg:mb-20 lg:place-items-center">
        <nav>
            <ul class="flex items-center gap-6 lg:gap-20 text-red-800">
                <li><a href="" class="hover:text-red-700 grid justify-items-center"><Image src={myImageCause} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Climate</p></a></li>
                <li><a href="" class="hover:text-red-700 grid justify-items-center"><Image src={myImageCause2} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Development</p></a></li>
                <li><a href="" class="hover:text-red-700 grid justify-items-center"><Image src={myImageCause3} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Education</p></a></li>
                <li><a href="" class="hover:text-red-700 grid justify-items-center"><Image src={myImageCause4} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Emergencies</p></a></li>
                <li><a href="" class="hover:text-red-700 grid justify-items-center"><Image src={myImageCause5} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Refugees</p></a></li>
            </ul>
        </nav>
    </div>
    <article>
        <div class="grid lg:grid-cols-3 gap-4 lg:gap-8">
            <Card size="large" heading="Gorkha, Nepal" description="We are living in a community in Nepal, struggling to survive after a disaster.">
                <Image src={myImage6} alt="" class="object-cover h-[116px] lg:h-[142px] rounded-t-lg"></Image>
            </Card>
            <Card size="large" heading="Turkana, Kenya" description="In northern Kenya, our community is battling the harsh effects of climate change.">
                <Image src={myImage8} alt="" class="object-cover h-[116px] lg:h-[142px] rounded-t-lg"></Image>
            </Card>
            <Card size="large" heading="Aleppo, Syria" description="Fleeing Syria, my family and I seek safety and support in a refugee camp in Jordan.">
                <Image src={myImage10} alt="" class="object-cover h-[116px] lg:h-[142px] rounded-t-lg"></Image>
            </Card>
        </div>
    </article>
</section>
</MainLayout>