---
import MainLayout from "../layouts/MainLayout.astro";
import MainHeader from "../components/MainHeader.astro";
import Card from "../components/Card.astro";
import { Image } from "astro:assets";
import myImageCause from "../assets/images/grafik/emergencies.svg";
import myImageCause2 from "../assets/images/grafik/climate.svg";
import myImageCause3 from "../assets/images/grafik/refugees.svg";
import myImageCause4 from "../assets/images/grafik/development.svg";
import myImageCause5 from "../assets/images/grafik/education.svg";
---
<MainHeader></MainHeader>
<MainLayout>
    <div class="bg-no-repeat bg-center bg-cover" style="background-image: url(src/assets/images/Grafik/Pattern_yellow.svg);">
        <section class="relative z-10 px-4 sm:px-auto">
            <div class="relative z-10 grid justify-items-center text-center mb-10 lg:mb-[60px] mt-3 lg:mt-5">
                <h1 class="mb-6 lg:mb-10">Our causes</h1>
                <p class="w-1/2 lg:w-1/4 justify-self-center">Please select one of our five donation categories below.</p>
            </div>
            <div class="mb-10 lg:mb-[80px] cursor-grab overflow-x-auto">
                <nav>
                    <ul class="flex sm:justify-center items-center gap-6 lg:gap-20 text-red-800 hover:text-red-700">
                        <li><a href="" class="hover:font-bold grid justify-items-center"><Image src={myImageCause} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Emergencies</p></a></li>
                        <li><a href="" class="hover:font-bold grid justify-items-center"><Image src={myImageCause2} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Climate</p></a></li>
                        <li><a href="" class="hover:font-bold grid justify-items-center"><Image src={myImageCause3} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Refugees</p></a></li>
                        <li><a href="" class="hover:font-bold grid justify-items-center"><Image src={myImageCause4} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Development</p></a></li>
                        <li><a href="" class="hover:font-bold grid justify-items-center"><Image src={myImageCause5} alt="" class="w-[35px] lg:w-[45px] mb-1 lg:mb-2"></Image><p>Education</p></a></li>
                    </ul>
                </nav>
            </div>
        </section>
        <section class="relative z-10 px-4 pt-3 pb-6 md:px-[12px] md:pt-4 md:pb-[52px] lg:px-20 lg:pt-5 lg:pb-[80px]">
            <div class="grid gap-x-4 gap-y-5 md:gap-x-auto md:gap-y-14 place-items-center md:grid-cols-2 lg:grid-cols-3">
                <Card size="large"></Card>
            </div>
        </section>
    </div>
</MainLayout>